<h1 class="text-center">Login</h1>
<form action="/login" method="post" class="text-center">
<input type="email" name="email" placeholder="Email" required>
<input type="password" name="password" placeholder="Password" required>
<input type="submit">
</form>
<a href="/register" class="d-flex flex-column text-center">Register</a>