<h1 class="text-center">Register</h1>
<form action="/register" method="post" class="text-center">
<input type="name" placeholder="Name" name="firstName" required>
<input type="email" name="email" placeholder="Email" required>
<input type="password" name="password" placeholder="Password" required>
<input type="submit">
</form>
<a href="/login" class="d-flex flex-column text-center">Login</a>
