<!-- welcome page -->
<div class="d-flex flex-column text-center">
  <h1><span class='text-info'> Welcome back ! </span> {{firstName}}</h1>
  <p>your email is {{email}}</p>
</div>
<form action="/logout" method="post">
<div class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-outline-dark">Logout</button>
    </div>
  </div>
</div> 
</form>