<!-- welcome page -->
<div class="d-flex flex-column text-center">
  <h1><span class='text-info display-4'> Welcome back, </span class="display-1"> {{firstName}}!</h1>
  <p>Your email is: {{email}}</p>
</div>
<form action="/logout" method="post">
<div class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-outline-dark">Logout</button>
    </div>
  </div>
</div> 
</form>