<div class="container-fluid text-dark py-5 text-center">
  <h1><span class='display-1'> Welcome </span></h1>
  <a href="/login">Login</a><span> / </span>
   <a href="/register">Register</a>
</div>



